.accordion {
	.accordion-button {
        &:after {
            content: none;
        }

        &:not(.collapsed) {
            box-shadow: none;
			color: $body-color;
        }

		cursor: pointer;
        svg {
            width: calc-em(12);
        }
		.plus { display: none; }
		.minus { display: block; }

		&.collapsed {
			.plus { display: block; }
			.minus { display: none; }
		}
	}

	&__priority .accordion-button .svg--active-priority {
		transform: scale(.8);
		width: auto;
	}
}
