.announcement-bar {
	padding: calc-em(9.5) 0;
	background-color: #000;
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	&__timer ul {
        border-bottom: 2px solid #fff;
    }
}
