%transform-negative {
	position: relative;
	transform: translate3d(-100%, 0, 0);
	visibility: visible;
}

%transform-positive {
	position: relative;
	transform: translate3d(100%, 0, 0);
	visibility: visible;
	display: block;
}

.carousel {
	&--loop {
		.carousel-item {
			margin-right: 0;

			@include media-breakpoint-up(lg) {

			}
		}

		.carousel-item-next,
		.carousel-item-prev {
			position: relative;
			transform: translate3d(0, 0, 0);
		}

		.carousel-item-prev:not(.carousel-item-end) {
			transform: translateX(-100%);
		}

		.active.carousel-item-start + .carousel-item-next.carousel-item-start {
			@extend %transform-negative;
		}

		.active.carousel-item-end + .carousel-item-prev.carousel-item-end {
			@extend %transform-positive;
		}

		@include carousel-item-level('.carousel-item.active', '.carousel-item', 7) {
			display: block;
		}

		@include carousel-item-level('.carousel-item.active:not(.carousel-item-end):not(.carousel-item-start)', '.carousel-item:not(.carousel-item--last)', 7) {
			transition: none;
		}

		@include carousel-item-level('.carousel-item-next.carousel-item-start', '.carousel-item', 7, false) {
			@extend %transform-negative;
		}

		@include carousel-item-level('.carousel-item-prev.carousel-item-end', '.carousel-item', 7, false) {
			@extend %transform-positive;
		}

		.carousel-item-prev.carousel-item-end {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			visibility: visible;
		}

		.carousel-item.col-md-3 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}

		.carousel-item.col-md-4 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 25%;
				max-width: 25%;
			}
		}

		@include media-breakpoint-down(sm) {
			overflow-x: hidden;
		}
	}

	&--centered {
		overflow: hidden;

		.carousel-inner {
			width: calc(100% + #{$grid-gutter-width});
			overflow: visible;
			@include make-carousel-centered(9, $grid-columns);

			@include media-breakpoint-up(md) {
				width: calc(100% + #{$grid-gutter-width-lg});

				@include make-carousel-centered(3, $grid-columns);

				.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
					display: block;
				}

				.carousel-item {
					&--last {
						transform: translate3d(100%, 0, 0);
					}
				}
			}
		}

		[data-bs-slide-number="3"] & {
			.carousel-inner {
				transform: translateX(-60.6%);

				@include media-breakpoint-up(lg) {
					transform: translateX(-10.5%);
				}
			}
		}
	}

	&--centered-mobile {
		@include media-breakpoint-down(sm) {
			overflow: hidden;
		}

		.carousel-inner {
			@include media-breakpoint-down(sm) {
				overflow: visible;
				transform: translateX(-60.5%);
			}
		}
	}

	&--mobile-half-next {
		@include media-breakpoint-up(lg) {
			.carousel--centered .carousel-inner {
				width: 100%;
				transform: none;
				overflow: hidden;
			}
		}

		@include media-breakpoint-down(md) {
			.carousel--centered .carousel-inner {
				transform: translateX(-74.5%);
			}
			.carousel-item {
				width: 75%;
			}
		}
	}

	&--mobile-only-half-centered {
		.carousel-inner {
			transform: translateX(-41%);
			@include media-breakpoint-up(lg) {
				width: 100%;
				transform: none;
			}
		}
		.carousel-item {
			@include media-breakpoint-down(md) {
				width: 60%;
			}
		}
	}

	$fragment_width: percentage((3 / 12) / 2);
	@include media-breakpoint-down(md) {
		&--preview {
			overflow: hidden;

			.carousel-control-prev,
			.carousel-control-next {
				background: rgba(255, 255, 255, 0.3);
				width: $fragment_width;
				z-index: 11;
				/* .carousel-caption has z-index 10 */
			}

			.item__third {
				display: block;
				float: left;
				position: relative;
				min-height: 1px;
				width: 50%;
				padding-left: 2px;
				padding-right: 2px;
			}

			.carousel-inner {
				width: 150%;
				left: 0;
				margin-left: -2px;
				margin-right: -2px;
			}

			.carousel-item-next:not(.carousel-item-start),
			.carousel-item-end.active {
				-webkit-transform: translate3d(50%, 0, 0);
				transform: translate3d(50%, 0, 0);
			}

			.carousel-item-prev:not(.carousel-item-end),
			.carousel-item-start.active {
				-webkit-transform: translate3d(-50%, 0, 0);
				transform: translate3d(-50%, 0, 0);
			}
		}
	}

	&--preview .item__third .ratio {
		@include media-breakpoint-up(lg) {
			&.ratio-1x1 {
				--bs-aspect-ratio: none;
			}

			> * {
				position: relative;
			}
		}
	}

	&--scroll {
		.carousel-item {
			display: block;
			margin-right: 0;

			&.col-6 {
				max-width: 50%;
			}
		}

		.carousel-inner {
			overflow: auto hidden;
			-ms-overflow-style: none;
			scrollbar-width: none;
			transition: 1s all ease;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.scrollbar {
			position: relative;
			background: $gray-100;

			&, &--thumb {
				height: 4px;
				border-radius: 2px;
			}

			&--thumb {
				position: absolute;
				left: 0;
				background: $gray-400;
			}
		}

		.carousel-control-prev,
		.carousel-control-next {
			top: 50%;
			bottom: auto;
			width: auto;
			transform: translateY(-50%);
		}
	}
}


.carousel-control {
	&--background {
		background-color: $white;
		width: calc-em(30);
		height: calc-em(40);
		border-radius: 4px;

		@include media-breakpoint-up(lg) {
			height: calc-em(60);
		}
	}

	&--transparent {
		background-color: transparent;
	}

	&.floating-out-start {
		@include media-breakpoint-up(lg) {
			left: -2%;
		}
	}

	&.floating-out-end {
		@include media-breakpoint-up(lg) {
			right: -2%;
		}
	}
}

.product-image-carousel__indicator {
	.carousel-indicator {
		font-size: calc-em(27);
		&:disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
	@include media-breakpoint-down(md) {
		&__item.carousel-item-prev.carousel-item-end {
			width: calc-em(75);
		}
	}

	@include media-breakpoint-up(lg) {
		&__item .ratio {
			position: relative;
			display: block;
			width: 100%;
			padding: 0;
			overflow: hidden;
		}
		%transform-negative-y {
			position: relative;
			transform: translate3d(0, -100%, 0);
			visibility: visible;
		}

		%transform-positive-y {
			position: relative;
			transform: translate3d(0, 100%, 0);
			visibility: visible;
			display: block;
		}

		.carousel-inner {
			height: 0;
			padding-bottom: calc(500% + 120px);
		}

		.carousel-item-next.carousel-item-start,
		.carousel-item-prev.carousel-item-end {
			transform: translate3d(0, 0, 0);
		}

		.carousel-item-next,
		.active.carousel-item-end {
			transform: translate3d(0, 100% 0);
		}

		.carousel-item-prev,
		.active.carousel-item-start {
			transform: translate3d(0, -100%, 0);
		}

		.carousel-item-prev:not(.carousel-item-end) {
			transform: translateY(-100%);
		}

		.active.carousel-item-start+.carousel-item-next.carousel-item-start {
			@extend %transform-negative-y;
		}

		.active.carousel-item-end+.carousel-item-prev.carousel-item-end {
			@extend %transform-positive-y;
		}

		@include carousel-item-level('.carousel-item-next.carousel-item-start', '.carousel-item', 6, false) {
			@extend %transform-negative-y;
		}

		@include carousel-item-level('.carousel-item-prev.carousel-item-end', '.carousel-item', 6, false) {
			@extend %transform-positive-y;
		}
	}
}

@keyframes fill-timer {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.carousel-indicators {
	&--timer {
		li {
			height: 4px;
			width: 30px;
			opacity: 1;
			background-color: transparentize(#FFFFFF, 0.5);
			border-radius: 5px;
			overflow: hidden;

			&::before {
				content: '';
				display: block;
				width: 0;
				height: 100%;
				background-color: #fff;
			}
		}

		&--start {
			li.active::before {
				animation-name: fill-timer;
				animation-duration: 7s;
				animation-timing-function: linear;
			}
		}
	}

	&--dots-unclickable {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 15%;
		margin-bottom: 1rem;
		margin-left: 15%;
		list-style: none;
		margin-bottom: -.5em;

		li {
			box-sizing: content-box;
			flex: 0 1 auto;
			width: 0.75em;
			height: 0.75em;
			padding: 0;
			margin-right: 3px;
			margin-left: 3px;
			text-indent: -999px;
			background-color: #fff;
			background-clip: padding-box;
			border: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			opacity: 0.5;
			transition: opacity 0.6s ease;
			background-color: $gray-600;
			width: calc-em(6);
			height: calc-em(6);

			&.active {
				width: calc-em(8);
				height: calc-em(8);
			}
		}
	}
}

.carousel-control-prev,
.carousel-control-next {
	&--always-show {
		&.disabled {
			opacity: .5;
			pointer-events: none;
		}
	}
}

.product-image-carousel {
	.carousel-indicators {
		li {
			width: calc-em(6);
			height: calc-em(6);
			background: $gray-400;
			border: 1px solid #FFF;
			&.active {
				background: $gray-600;
				border-color: $gray-600;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.product-image-carousel__indicator {
		display: none;
	}

	.product-image-carousel__container:not(.product-image-carousel--preview__container) {
		.carousel-inner {
			display: flex;
			width: calc(100% - 5px);
			overflow: visible;
		}
		.carousel-item {
			flex: 0 0 80%;
			max-width: 80%;
		}

		.carousel-item {
			margin-right: 0;

			img {
				padding-right: 5px;
			}
		}

		.carousel-item-next,
		.carousel-item-prev {
			position: relative;
			transform: translate3d(0, 0, 0);
		}

		.carousel-item-prev:not(.carousel-item-end) {
			transform: translateX(-100%);
		}

		.active.carousel-item-start + .carousel-item-next.carousel-item-start {
			position: relative;
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}

		.active.carousel-item-end + .carousel-item-prev.carousel-item-end {
			position: relative;
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
		}

		@include carousel-item-level('.carousel-item.active', '.carousel-item', 7) {
			display: block;
		}

		@include carousel-item-level('.carousel-item.active:not(.carousel-item-end):not(.carousel-item-start)', '.carousel-item:not(.carousel-item--last)', 7) {
			transition: none;
		}

		@include carousel-item-level('.carousel-item-next.carousel-item-start', '.carousel-item', 7, false) {
			position: relative;
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}

		@include carousel-item-level('.carousel-item-prev.carousel-item-end', '.carousel-item', 7, false) {
			position: relative;
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
		}

		.carousel-item-prev.carousel-item-end {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			visibility: visible;
		}

		.carousel-indicators {
			margin-bottom: -.5em;
			li {
				background-color: $gray-600;
				width: calc-em(6);
				height: calc-em(6);

				&.active {
					width: calc-em(8);
					height: calc-em(8);
				}
			}
		}
	}
}
