.form-control {
	&:disabled,
	&:disabled::placeholder,
	&[readonly],
	&[readonly]::placeholder {
		color: $input-disabled-color;
	}
}

.form-group {
	@extend .mb-lg-2;
}

.quantity-box {
	.form-control {
		width: 2em;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	button:focus {
		outline: none;
	}

	button[disabled] {
		color: rgba(0, 0, 0, 0.2);
	}
}

