.multiple-choice-counter {
    min-width: calc-em(20);
    height: calc-em(20);
    transition-delay: 1s;
    transition: width 2s;
    transition-timing-function: ease-in;
}

.custom-check {
    .svg {
        width: 70%;
    }
}

.disabled {
    opacity: 0.5;
}

.checkbox-number {
    max-height: calc-em(60);
}

