.progress--step {
	&:before {
		content: '';
		border-top: 1px solid $primary;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.rounded-circle {
		width: 10px;
		height: 10px;

		@include media-breakpoint-up(lg) {
			width: 15px;
			height: 15px;
		}
	}

	&--flat-strip {
		li {
			width: 75px;
			height: 5px;
		}
	}
}
