.question-box {

    &.analyzing {
        height: 100vh;
    }

    .loader {
        width: calc-em(100);
        height: calc-em(100);

        @include media-breakpoint-up(lg) {
            width: calc-em(150);
            height: calc-em(150);
        }
    }

    .border--default {
        &:before {
            content: '';
            border: 1px solid $border-color;
            position: absolute;
            border-radius: $btn-border-radius;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &-selected::before {
            border-width: 2px;
            border-color: $primary;
        }
    }

    &__content {
        min-height: 60vh;

        @include media-breakpoint-up(lg) {
            min-height: 50vh;
        }
    }

    &__decoration-top {
        top: calc-em(85);
    }
}


.survey-result__bg {
    @include media-breakpoint-up(lg) {
	    background-color: $gray-100;
    }
}
