
@include media-breakpoint-up(lg) {
	header {
		box-shadow: 0 0.1em 0.1em #0000000f;
	}
	.navbar-brand {
		padding-top: calc-em(9.10, 16);
		padding-bottom: calc-em(9.10, 16);

		svg {
			height: calc-em(33, 16);
		}
	}
}
