@font-face {
	font-family: "sofia-pro";
	src: url('https://cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Bold.woff2') format("woff2");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "sofia-pro";
	src: url('https://cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Regular.woff2') format("woff2");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

