// To make button looks like text
.btn-unstyled {
	border: 0;
	padding: 0;
	background: none;
	&:focus {
		outline: none;
	}
}

.zindex-1 {
	z-index: 1;
}

.zindex-2 {
	z-index: 2;
}

.zindex-0 {
	z-index: 0;
}

.rounded-right-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

// Special margin for text spacing
.ms-25, .mx-25 {
	margin-left: $spacer * 0.25 !important;
}

.fit--cover {
	object-fit: cover;
}

@keyframes gradient-shimmer {
	0%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}

.bg-shimmer {
	background: $gray-600;
	background: linear-gradient(130deg, $gray-600 33%, $gray-100 50%, $gray-600 67%);
	background-size: 1000% 1000%;
	animation: gradient-shimmer 2.5s ease infinite;

	img {
		transition: opacity 0.4s linear;
		opacity: 0;
	}

	&--loaded {
		img {
			opacity: 1;
		}
	}
}

// Half gutter padding
@include media-breakpoint-down(md) {
	.pe-hg, .px-hg {
		padding-right: $grid-gutter-width * 0.5 !important;
	}
	.ps-hg, .px-hg {
		padding-left: $grid-gutter-width * 0.5 !important;
	}
}
@include media-breakpoint-up(lg) {
	.pe-lg-hg, .px-lg-hg {
		padding-right: $grid-gutter-width * 0.5 !important;
	}
	.ps-lg-hg, .px-lg-hg {
		padding-left: $grid-gutter-width * 0.5 !important;
	}
}
