<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" crossorigin="" href="https://cdn.shopify.com">
    <link rel="preconnect" crossorigin="" href="https://vars.hotjar.com">
    <link rel="preconnect" crossorigin="" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://imagedelivery.net">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com"/>
    <link rel="dns-prefetch" href="https://events.release.narrativ.com"/>
    <link rel="dns-prefetch" href="https://www.google.co.id"/>
    <link rel="dns-prefetch" href="https://api.bluecore.com"/>
    <link rel="dns-prefetch" href="https://static.narrativ.com"/>
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net"/>
    <link rel="dns-prefetch" href="https://analytics.google.com"/>
    <link rel="dns-prefetch" href="https://analytics.tiktok.com"/>
    <link rel="dns-prefetch" href="https://script.hotjar.com"/>
    <link rel="dns-prefetch" href="https://www.google.com"/>
    <link rel="dns-prefetch" href="https://static.hotjar.com"/>
    <link rel="dns-prefetch" href="https://vars.hotjar.com"/>
    <link rel="dns-prefetch" href="https://www.google-analytics.com"/>
    <meta
      name="description"
      content="Anti-cellulite, anti-ageing self-tan with zero nasties. Comes bundled up with a soft tanning mitt, and kabuki brush for a perfect and fuss-free application."
    />
    <title>Australian Pink Clay Pore Tight Kit | Sand & Sky</title>
    <meta name="robots" content="noindex, nofollow, nosnippet">
    <style></style>
    <link rel="preload" href="//cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="//cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link rel="preload" href="<%= htmlWebpackPlugin.files.css[css] %>" type="text/css" as="style" onload="this.rel='stylesheet'">
    <% } %>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
</head>
<body>
    <div id="root"></div>
    <%= htmlWebpackPlugin.tags.headTags.map((tag) => tag.tagName === 'script' ? tag: '') %>
</body>