<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" crossorigin="" href="https://cdn.shopify.com">
    <link rel="preconnect" crossorigin="" href="https://vars.hotjar.com">
    <link rel="preconnect" crossorigin="" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://imagedelivery.net">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com"/>
    <link rel="dns-prefetch" href="https://events.release.narrativ.com"/>
    <link rel="dns-prefetch" href="https://www.google.co.id"/>
    <link rel="dns-prefetch" href="https://api.bluecore.com"/>
    <link rel="dns-prefetch" href="https://static.narrativ.com"/>
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net"/>
    <link rel="dns-prefetch" href="https://analytics.google.com"/>
    <link rel="dns-prefetch" href="https://analytics.tiktok.com"/>
    <link rel="dns-prefetch" href="https://script.hotjar.com"/>
    <link rel="dns-prefetch" href="https://www.google.com"/>
    <link rel="dns-prefetch" href="https://static.hotjar.com"/>
    <link rel="dns-prefetch" href="https://vars.hotjar.com"/>
    <link rel="dns-prefetch" href="https://www.google-analytics.com"/>
    <meta
      name="description"
      content="Deep cleanse your skin with this three-piece kit. Your go-to skincare for refined pores and clear skin. It includes a full-size Deep Pore Cleanser, travel-size Porefining Face Mask and bamboo wipes."
    />

    <title>Australian Pink Clay Pore Tight Kit | Sand and Sky</title>
    <meta name="robots" content="noindex, nofollow, nosnippet">
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0253/9847/6905/t/127/assets/SofiaPro-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link rel="preload" href="<%= htmlWebpackPlugin.files.css[css] %>" type="text/css" as="style" onload="this.rel='stylesheet'">
    <% } %>
    <link rel="preload" as="image" href="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/fb5a6b90-54f2-4d01-0671-9f0d9ccd0d00/828x" type="image/webp" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
  </head>
  <body>
    <div id="root"></div>
    <!--
      Thiss HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <%= htmlWebpackPlugin.tags.headTags.map((tag) => tag.tagName === 'script' ? tag: '') %>
    
  </body>
</html>
