@import '_core';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/carousel";


// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack


@import 'core/fonts';
@import 'core/type';
@import 'core/grid';
@import 'core/utilities';

@import 'components/svgs';
@import 'components/forms';
@import 'components/carousel';
@import 'components/buttons';
@import 'components/accordion';

@import 'sections/header';
@import 'sections/footer';

@import 'components/product-image-carousel.scss';

@import 'sections/review-carousel';
@import 'sections/a-beauty-review';

@import 'templates/product.scss';

.list-with-tick-abtest {
    .product-form-icons {
        li {
            position: relative;
            padding-left: calc-em(40);
            display: flex !important;
            align-items: start !important;
        }
    
        li:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 25" height=".75em"><path fill="%23FF6F8D" d="M28.82.543c.382-.014.752.14 1.012.421.571.615.604 1.556.076 2.208L12.436 23.97a1.312 1.312 0 01-1.992.072 1.693 1.693 0 01-.167-.21 1.578 1.578 0 01-.138-.127L1.127 14.38a1.621 1.621 0 112.33-2.253l8.058 8.335L27.84 1.04c.239-.3.596-.481.98-.496z"></path></svg>');
            position: absolute;
            left: 1em;
        }

        svg {
            display: none !important;
        }
    }
}