.survey-content__start {
	min-height: 100vh;
}

.survey-result {
	&__bg {
		@include media-breakpoint-up(lg) {
			background-color: $gray-100;
		}
	}

	&__product {
		font-size: $h2-font-size;

		@include media-breakpoint-up(lg) {
			font-size: $h1-font-size-lg;
		}
	}

	&__desc {
		font-size: $font-size-sm;
		@include media-breakpoint-up(lg) {
			font-size: $font-size-base;
		}
	}

	&__range {
		-webkit-appearance: none !important;
		height: calc-em(6, 14);
		border-radius: calc-em(10, 14);
		background-color: $range-tsw-light;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border-radius: 50%;
			height: calc-em(12, 14);
			width: calc-em(12, 14);
			background: $range-tsw;
		}
	}

	@include media-breakpoint-up(lg) {
		&__range {
			min-width: calc-em(240, 14);
		}
	}

	&__product-list .svg--active-priority {
		transform: scale(.6);
	}

	&__product-list {
		background-color: $gray-100;

		&__title {
			@include media-breakpoint-up(lg) {
				min-height: 42px;
			}
		}

		@include media-breakpoint-up(lg) {
			background-color: white;
		}
	}
}

.survey-mask {
	&.cover {
		background-image: url(https://cdn.shopify.com/s/files/1/0277/5262/8295/files/mobile_976566d6-27c6-4027-8009-2259c48b19b3.jpg?v=1664352616);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		
		@include media-breakpoint-up(lg) {
			background-image: url(https://cdn.shopify.com/s/files/1/0277/5262/8295/files/desktop_3.jpg?v=1664355959);
			max-height: 578px;
		}

		.tooltip {
			width: 80%;

			@include media-breakpoint-up(lg) {
				width: 427px;
			}
		}

		h1 {
			font-size: 65px;
			font-weight: normal;

			@include media-breakpoint-up(lg) {
				font-size: 105px;
			}
		}
	}
}

.survey-skin {
	&.cover {
		background-image: url(https://cdn.shopify.com/s/files/1/0277/5262/8295/files/skin_quiz_mob_cover.jpg?v=1686281953);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		max-width: 100%;
		
		@include media-breakpoint-up(lg) {
			background-image: url(https://cdn.shopify.com/s/files/1/0277/5262/8295/files/bg_1.jpg?v=1686722766);
			max-height: 100%;
		}

		.heading-wrapper {
			margin-top: 180px;
			@include media-breakpoint-up(lg) {
				margin-top: 150px;
			}
		}

		h1 {
			color: white;
			max-width: 260px;

			@include media-breakpoint-up(lg) {
				max-width: 430px;
			}
		}

		p {
			color: white;
			max-width: 320px;

			@include media-breakpoint-up(lg) {
				max-width: 430px;
			}
		}
	}
}