.pull-down {
	@include media-breakpoint-down(lg) {
		bottom: -130px !important;
	}
}
.survey-lp-image {
    @include media-breakpoint-down(lg) {
        position: fixed;
        bottom: -20px;
    }    
}
